<div class="row">
    <div class="alert {{vm.classTemp}}">
        The current temperature for now in Sydney is <span class="show-degree">{{vm.tempNow}}</span><span>C</span>. 
        <span ng-if="vm.isDanger === 1 && vm.truckStatus.id ==='inloading'"> The temperature is a little hot, we need to down <b>temperature beer range
            (-<span class="show-degree">{{vm.downTemp}}</span><span>C</span>)</b> to make sure beer is cool enough.
        </span>


        <span ng-if="vm.isDanger === 1 && vm.truckStatus.id !=='inloading' && vm.previousDangerLevel === 0">
            When driving, if the temperature is a little hot, You need to reload beer by click <b>Reload</b> button to make sure your beer is cool. <b>Temperature beer range will down
                    -<span class="show-degree">{{vm.downTemp}}</span><span>C</span></b>
        </span>
        <span ng-if="vm.isDanger === 2 && vm.truckStatus.id ==='inloading'">
            <b>You can not go with very high temperature. Please wait!!!</b>
        </span>

        <span ng-if="vm.isDanger === 2 && vm.truckStatus.id !=='inloading'">
            <b>If you are still driving, you need to find the place cool to make sure the bear is not corrupted.</b>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4>Enter beer capacity you want to transport</h4>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Bear Name</th>
                    <th>Temperature Range</th>
                    <th>Beer Capacity (liter)</th>
                    <th>Remain Capacity</th>
                    <th>In Container</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bear in vm.listTypeOfBear">
                    <td>{{bear.name}}</td>
                    <td>
                        <span class="show-degree">{{bear.minDegree}}</span><span>{{bear.typeOfDegree}}</span> - 
                        <span class="show-degree">{{bear.maxDegree}}</span><span>{{bear.typeOfDegree}}</span>
                        <span class="temp-warning">(-<span class="show-degree">{{vm.downTemp}}</span><span>C</span>)</span>
                    </td>
                    <td><input type="number" min="0" ng-keydown="vm.preventNagative($event)" ng-model="bear.capacity" ng-readonly="vm.truckStatus.id !=='inloading' || vm.isDanger === 2" /></td>
                    <td><span class="current-cap" ng-if="bear.currentCap">{{bear.currentCap}} liters</span></td>
                    <td>
                        <p ng-repeat="con in bear.containerId">
                            <span>Container: {{con.id}}, Capacity: {{con.cap}} liters</span>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h4>Change Status</h4>
        <div class="alert alert-danger" ng-if="vm.errInputBeerCapacity">
            You need to input Beer Capacity to drive
        </div>

        <div class="alert alert-danger" ng-if="vm.errBigCap">
            Your capacity is too big.
        </div>
        <button class="btn btn-primary button-status"
            ng-repeat="button in vm.listButtonChangeStatus"
            ng-disabled="button.id === 'indriving' && vm.isDanger === 2"
            ng-click="vm.changeStatus(button.id)">{{button.text}}</button>
        
        <h4>Delivery Status</h4>
        <p class="status-truck bg-primary">{{vm.truckStatus.text}}</p>
        
    </div>
    <div class="col-md-6">
        <h4>Truck container information</h4>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Container Index</th>
                    <th>Max Capacity</th>
                    <th>Current Capacity</th>
                    <th>Temperature</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="container in vm.listContainer">
                    <td>{{container.id}}</td>
                    <td>{{container.maxLiter}} liters</td>
                    <td><span>{{container.currentLiter}} liters</span></td>
                    <td>
                        <span class="show-degree">{{container.degree}}</span><span>{{container.typeOfDegree}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<busy busy="vm.busy"></busy>
