{
	"extends": ["airbnb/base", "angular"],
	"rules": {
		"angular/no-service-method": 0,
		"comma-dangle": [0, "never"],
		"curly": [2, "all"],
		"func-names": 0,
		"indent": [4, "space", { "SwitchCase": 1 }],
		"max-len": [1, 120],
		"padded-blocks": 0,
		"no-console": 1,
		"no-tabs": 0,
		"no-param-reassign": 0,
		"no-use-before-define": 0,
		"no-underscore-dangle": ["error", {
				"allowAfterThis": true,
				"allow": [ "__Rewire__" ]
		}],
		"no-multiple-empty-lines": ["error", {
				"max": 1,
				"maxBOF": 0,
				"maxEOF": 1
		}]
	},
	"parser": "babel-eslint",
	"env": {
		"node": true,
		"browser": true,
		"jasmine": true,
		"es6": true
	},
	"globals": {
		"_": false,
		"ICAL": false,
		"jQuery": false,
		"angular": false,
		"module": false,
		"inject": false,
		"moment": false,
		"__FORM_AUTH__": false
	}
}
