<div class="modal-header">
	<h1 class="modal-title">{{'LISTVIEW.CONFIRMATION.TITLE' | translate}}</h1>
</div>

<form name="$ctrl.cancelTodoForm" novalidate>

	<div class="modal-body modal-event">
		<div class="form-group row">
			<label class="modal-event__label col-sm-10">{{'LISTVIEW.CONFIRMATION.MESSAGE' | translate}}</label>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$ctrl.cancel()" type="button">{{'LISTVIEW.BUTTON.NO' | translate}}</button>
		<button class="btn btn-danger" ng-click="$ctrl.submit()" type="submit">{{'LISTVIEW.BUTTON.YES' | translate}}</button>
	</div>

</form>
